<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogonAs" />
                <binding name="BasicHttpBinding_ITimesheets" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://intergen.tenrox.net/TWebService/LogonAs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogonAs"
                contract="TenroxLogonService.ILogonAs" name="BasicHttpBinding_ILogonAs" />
            <endpoint address="http://intergen.tenrox.net/TWebService/Timesheets.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimesheets"
                contract="TimesheetsService.ITimesheets" name="BasicHttpBinding_ITimesheets" />
        </client>
    </system.serviceModel>
</configuration>