<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogonAs" />
                <binding name="BasicHttpBinding_ITimesheets" />
                <binding name="BasicHttpBinding_IAssignments" />
                <binding name="BasicHttpBinding_IClients" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://intergenimpl.tenrox.net/TWebService/LogonAs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogonAs"
                contract="TenroxLogonService.ILogonAs" name="BasicHttpBinding_ILogonAs" />
            <endpoint address="http://intergenimpl.tenrox.net/TWebService/Timesheets.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimesheets"
                contract="TimesheetsService.ITimesheets" name="BasicHttpBinding_ITimesheets" />
            <endpoint address="http://intergenimpl.tenrox.net/TWebService/sdk/Assignments.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssignments"
                contract="AssignmentsService.IAssignments" name="BasicHttpBinding_IAssignments" />
            <endpoint address="http://intergenimpl.tenrox.net/TWebService/sdk/Clients.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClients"
                contract="ClientsService.IClients" name="BasicHttpBinding_IClients" />
        </client>
    </system.serviceModel>
</configuration>